// monochrome scheme
$main-black: #000;
$gray-monochrome: #4d4d4d;
$white-monochrome: #999999;
$purple-monochrome: #332424;
$purple-light-monochrome: #4d3636;
// contrast scheme
$gray-contrast: #8c8c8c;
$gray-contrast-light: #4d4d4d;
$gray-contrast-dark: #333333;
$white: #fff;
